#timer {
    text-align: right;
    float: right;
}

#highscores {
    color: purple;
}

h1 {
    text-align: center;
}

#quizdescription {
    text-align: center;
}

.buttonholder {
    text-align: center;
}

button {
    color: white;
    background-color: purple;
}